element {
    userListBackgroundColer: #b7ded5;
}

.userList {
    padding: 10px 30px;
    background-color: #b7ded5;
}

.listItem {
    background-color: #b7ded5;
}

.listItem:hover {
    background-color: #8adedc;
}